*.iml
.idea/
!.idea/misc.xml
!.idea/inspectionProfiles
!.idea/codeStyles
.idea/**/tasks.xml
.idea/**/workspace.xml
.idea/**/navEditor.xml
.idea/**/assetWizardSettings.xml
.idea/**/caches
.idea/**/libraries
/build/
/app/build/
/.cxx/
/.externalNativeBuild/
/captures/
.gradle/
/local.properties
.DS_Store
*.log
/test-output/
